/* STRUCTURE */
.contact-wrapper {
  display: flex;
  justify-content: center;
  padding: 60px 0;
  background: #f4f7fa;
  zoom: 0.80;
}

.contact-container {
  width: 100%;
  max-width: 1200px;
  background: #f4f7fa;
  padding: 20px;
  border-radius: 20px;
}

/* HEADER */
.contact-header {
  text-align: center;
}

.contact-title {
  font-size: 3rem;
  font-weight: 700;
}

.contact-subtitle {
  margin-top: 15px;
  font-size: 1.1rem;
  color: #666;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
}

/* CONTACT INFO GRID */
.contact-info-grid {
  display: flex;
  gap: 20px;
  margin: 40px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-item {
  width: 30%;
  min-width: 250px;
}

.contact-item-inner {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.contact-item-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact-item-icon {
  width: 25px;
  height: 25px;
}

.contact-item-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.contact-item-content {
  margin-top: 10px;
  font-size: 1rem;
  color: #444;
}

/* FORM */
.contact-form-wrapper {
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.15);
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.half-width {
  width: 48%;
}

.full-width {
  width: 100%;
}

/* INPUTS */
.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-label {
  font-weight: 700;
  margin-bottom: 6px;
}

.input-box {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
}

.input-box:focus {
  border-color: #4f46e5;
}

/* BUTTON */
.contact-btn {
  margin-top: 20px;
  background: #4f46e5;
  color: white;
  font-size: 1.1rem;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 200px;
}

.contact-btn:hover {
  background: #4338ca;
}
.contact-button-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
