#footer {
  background-color: #25253f;
  color: white;
  padding: 10px 0;
  text-align: center;
  border-top: 2px solid #ff4040;
  font-family: 'Impact', sans-serif;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.brand {
  font-size: 10px;
  letter-spacing: 1px;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 10px;
  position: relative;
  transition: color 0.3s ease;
}

.footer-links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #d22020;
  transition: all 0.3s ease;
  transform: translateX(-50%);
  
}

.footer-links a:hover {
  color: #ff4040;
}

.footer-links a:hover::after {
  width: 100%;
}

.socials {
  display: flex;
  gap: 15px;
  font-size: 16px;
}

.socials a {
  color: white;
  transition: color 0.3s ease, transform 0.3s ease;
}

.socials a:hover {
  color: #ff4040;
  transform: scale(1.1);
}
