@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

#header {
  background-color: #25253f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 5px 4px 2px;
  border-bottom: 1px solid #ff4040;
}



.brand-text {
  display: flex;
  flex-direction: column;
  align-items: center; 
  line-height: 1;
  margin-left: 10px;
}


.brand-main {
  font-family: 'Abril Fatface', serif;
  color: white;
  font-size: 18px;
  margin: 0;
  
}

.brand-line {
  width: 100%;
  height: 1px;
  background-color: #ff4040;
  margin: 1px 0 0px 0;
}

.brand-sub {
  font-family: Impact, sans-serif;
  color: #a6a6a6;
  font-size: 10px;
  margin: 0;
  letter-spacing: 0px;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links a {
  position: relative;
  color: white;
  text-decoration: none;
  font-size: 10px;
  font-family: Impact, sans-serif;
  letter-spacing: 0px;
  transition: color 0.3s ease;
}

.nav-links a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #ff4040;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.nav-links a:hover {
  color: #ff4040;
}

.nav-links a:hover::after {
  width: 100%;
}


@media (max-width: 600px) {
  #header {
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  .nav-links {
    gap: 10px;
  }
}
