/* SECTION */
.review-section-wrapper {
  padding: 40px 0;
  background: white;
  text-align: center;
  zoom: 0.90;
}

.review-title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #222;
  margin-bottom: 20px;
}

/* MARQUEE */
.marquee-container {
  overflow: hidden;
  width: 100%;
}

.marquee-track {
  display: flex;
  gap: 20px;
  animation: scroll-left 20s linear infinite;
}

.marquee-group {
  display: flex;
  gap: 20px;
}

@keyframes scroll-left {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* CARD */
.review-card {
  width: 240px;
  padding: 16px;
  background: #ffffff;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.review-top {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;
}

.review-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.review-name {
  font-size: 0.95rem;
  font-weight: 600;
  color: #222;
}

.review-stars {
  display: flex;
  gap: 2px;
}

.review-text {
  font-size: 0.8rem;
  color: #555;
  line-height: 1.3;
}

button{
    background-color: #ff4040;
    color: white;
    border: none;
    padding: 8px 20px;
    font-size: 14px;
    font-family: Impact, sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 35px;
}
button:hover {
  background-color: transparent;
  border: 1px solid #ff4040;
  color: #ff4040;
  transform: scale(1.05);
}
