#services-location {
  /* background-color: #f5f5f5; */
  background: linear-gradient(to bottom, #f7f7f7, #ececec);
  /* color: #ff4040; */
  /* color: #832222; */
  color: #141414;
  padding: 6vh 10vw;
  font-family: 'Abril Fatface', sans-serif;
  text-align: center; /* good for title */
  letter-spacing: 1px;
}

.mainDivh2 {
  margin-bottom: 2rem;
  background-color: #b08989;
  border-radius: 50px;
}

.mainDiv {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center; /* centers the cards */
}



/* Mobile layout */
@media (max-width: 768px) {
  #services-location {
    flex-direction: column;
    align-items: center;
  }
  .services, .location {
    width: 100%;
  }
  .service-card {
    padding: 2vh 4vw;
  }
}